<!-- <section>
  <h2 class="fontzero">Interpolation</h2>

  <app-interpolation></app-interpolation>

  <app-property-binding></app-property-binding>

  <app-class-binding></app-class-binding>


  <article>
    <h3>Ng Bootstrap</h3>

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
    </p>
  </article>



  <app-event-binding></app-event-binding>
</section> -->
<section>
  <h2 class="fontzero">Data Binding</h2>

  <!-- <app-meu-form></app-meu-form> -->

  <!-- <app-input-property [nome]="nomeDoCurso"></app-input-property> -->

  <app-output-property [valor]="valorInicial"
  (mudouValor)="onMudouValor($event)"
  ></app-output-property>
</section>
