<!-- <section>
  <h2 class="fontzero">Interpolation</h2>

  <app-interpolation></app-interpolation>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ imageUrl }}" alt="Pixabay Image">
    <img [src]="imageUrl" alt="Pixabay Image">
  </article>

  <article>
    <h3>Class e Style Binding</h3>

    <div>
      Seleciona uma class:

      <select #class (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Worn</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>

      <div class="alert {{ class.value }}" role="alert">
        Texto Colorido conforme o valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="class.value == 'alert-success'">...</div>
      <div class="alert" role="alert" [class.alert-info]="class.value == 'alert-info'">...</div>
      <div class="alert" role="alert" [class.alert-warning]="class.value == 'alert-warning'">...</div>
      <div class="alert" role="alert" [class.alert-danger]="class.value == 'alert-danger'">...</div>
    </div>
  </article>

  <article>
    <h3>Ng Bootstrap</h3>

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <p>
      <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
    </p>
  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">Me Click</button>
      <br><br>

      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput
      />

      <p>Valor: {{ valorDigitado }}</p>
      <p>Valor: {{ valorSalvo }}</p>
      <br><br>

      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highligth]="isMouseOver"
      >Passe o mouse sobre mim</span>
    </div>
  </article>

</section> -->

<section>
  <h2 class="fontzero">Data Binding</h2>

  <!-- <app-meu-form></app-meu-form> -->

  <!-- <app-input-property [nome]="nomeDoCurso"></app-input-property> -->

  <app-output-property [valor]="valorInicial"
  (mudouValor)="onMudouValor($event)"
  ></app-output-property>
</section>
